@import url(ressources/fonts/Satoshi_Complete/Fonts/WEB/css/satoshi.css);

:root {
    .satoshiM {
        font-family: "SatoshiM";
    }
    --font-m: "Satoshi-Medium";
    --font-st: "Satoshi-LightItalic";

    --bg-m: #0E3530;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    z-index: 0;
    background-color: var(--bg-m);
    header {
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .aAL {
            margin-left: 30px;
            font-family: var(--font-m);
            font-size: 22px;
            text-decoration: none;
        }
        .menuhd {
            display: none;
        }
        button {
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: none;
            border: none;
            margin-right: 30px;
            hr {
                color: rgb(255, 255, 255);
                width: 30px;
            }
        }
        button:hover {
            cursor: pointer;
            hr {
                color: rgb(155, 155, 155);
            }
        }
        .menuMobile {
            bottom: auto;
            right: auto;
            z-index: 0;
            height: 100vh;
            width: fit-content;
            border: none;
            background-color: var(--bg-m);
            translate:-100% 0;
            transition: translate 0.5s, display 0.5s ease-in-out ;
            &:popover-open {
                translate: 0 0;
                @starting-style {
                    translate: -100% 0;
                }
            }
            &:popover-hide {
                translate: 0 0;
                @starting-style {
                    translate: 0 -100%
                }
            }
            button {
                display: none;
            }
            h2 {
                padding-top: 15px;
                z-index: 1;
                margin: 0 30px 0 30px;
                font-family: var(--font-m);
                font-size: 22px;
                margin-bottom: 35px;
            }
            ul {
                margin-left: 30px;
                list-style: none;
                li {
                    font-family: var(--font-m);
                    font-size: 14px;
                    margin-bottom: 20px;
                    a {
                        text-decoration: none;
                    }
                    a:hover {
                        color: rgb(189, 189, 189);
                    }
                }
            }
            hr {
                margin: 0 35px 0 35px;
            }
            .CM {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                img {
                    height: 10px;
                    width: 10px;
                }
                label {
                    font-size: 12px;
                    font-family: var(--font-m);
                    text-transform: uppercase;
                }
            }
            .links {
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                gap: 5px;
                margin:20px 0 30px 0;
                a {
                    text-decoration: none;
                    img {
                        
                        height: 30px;
                        width: 30px;
                        border-radius: 50px;
                    }
                    img:hover {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
    main {
        margin: 20px 30px 0 30px;
        h1 {
            text-align: center;
        }
        .sFS {
            label {
                font-size: 20px;
                font-family: var(--font-m);
                border-bottom: 1px solid;
                margin-left: 20px;
            }
            details {
                width: fit-content;
                display: flex;
                
                summary {
                    font-family: var(--font-m);
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    visibility: visible;
                    padding-bottom: 5px;
                    gap: 10px;
                    img {
                        height: 20px;
                        width: 20px;
                    }
                    details {
                        height: 60px;
                    }
                }
                summary:hover,
                summary:active {
                    background-color: #11413a;
                }
                img {
                    width: 350px;
                }
            }
        }
        hr {
            width: 85vw;
            margin: 5px 0 20px 0;
        }
        .sP {
            label {
                font-size: 20px;
                font-family: var(--font-m);
                margin-left: 20px;
                border-bottom: 1px solid;
            }
            details {
                font-family: var(--font-m);
                width: fit-content;
                summary {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    font-size: 20px;
                    background-color: rgb(48, 48, 48);
                    gap: 10px;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                summary:hover,
                summary:active {
                    background-color: #11413a;
                }
                img {
                    width:350px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px){ 
    body {
        header {
            .menuhd {
                display: flex;
                width: 70vw;
                ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    li {
                        font-size: 20px;
                        font-family: var(--font-m);
                        a {
                            padding: 25px 30px 25px 30px;
                            text-decoration: none;
                        }
                        a:hover {
                            color: rgb(189, 189, 189);
                            background-color: #0c2e29;
                        }
                    }
                }
            }
            .aAL {
                font-size: 26px;
            }
            button {
                display: none;
            }
        }
        main {
            .sFS {
                label {
                    font-size: 1;
                }
            }
        }
    }
}